body {
  text-align: center;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  margin: 20;
}



.services {
  font-family: "Permanent Marker", cursive;
  font-weight: 900;
  font-style: normal;
}


.title {
  font-family: "Permanent Marker", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: xx-large;
}

.contact {
    font-weight: bold;
    font-size: larger;
}

.price {
    font-weight: bold;
}

.lawnLogo {
    margin-top: 1.5cm;
}